* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: auto !important;
  padding: 0 !important;
}
.line {
  border-bottom: 2px solid rgba(165, 165, 165, 0.54);
}
.footer {
  background-color: #1f1f1f;
}
.footer ul {
  list-style: none;
  padding: 0;
}
.footer ul li {
  margin: 10px 0;
}
.footer ul li a:hover{
  color: #7d7d7d;
}
.footer ul li a {
  text-decoration: none;
  color: #ffff;
}
