.ProductDetails {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  max-width: 100%;
  padding: 6vmax;
  box-sizing: border-box;
}
.product_img {
  width: 350px;
}
.cart-quantity {
  outline: none;
  border: none;
  padding: 0 20px;
  z-index: 1;
  text-align: center;
  border-bottom: 1px solid rgba(33, 33, 33, 0.582);
}
.qtnBtn {
  cursor: pointer;
  background-color: transparent;
  color: rgb(33, 33, 33);
}
.qtnBtn > svg {
  margin-bottom: 7px;
}
.qtnBtn:hover {
  color: rgba(26, 26, 26, 0.582);
}
.line {
  border-bottom: 1px solid rgba(201, 201, 201, 0.567);
}

.stock .inStock {
  margin: auto 0;
  border: 1px solid green;
  border-radius: 3px;
  color: green;
  background-color: #00800040;
  padding: 3px 5px;
  font-weight: 600;
  font-size: 13px;
  margin: auto 8px;
}
.stock .outStock {
  margin: auto 0;
  border: 1px solid red;
  border-radius: 3px;
  color: red;
  background-color: #80000040;
  padding: 3px 5px;
  font-weight: 600;
  font-size: 13px;
  margin: auto 8px;
}

.reviewCard {
  width: 100%;
  display: flex;
}
.reviewCard div > img {
  width: 4rem;
}
.reviewCard .profileImg {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  overflow: hidden;
  margin: auto;
}
.reviewCard .profileImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviewCard div > p {
  overflow-wrap: break-word;
}
